# Tuples

A tuple is a sequence of values.  The values can be any type, and
they are indexed by integers, so in that respect tuples are a lot
like lists.  The important difference is that tuples are immutable.

Syntactically, a tuple is a comma-separated list of values:

In [28]:
t = 'a', 'b', 'c', 'd', 'e'
print(t)

('a', 'b', 'c', 'd', 'e')

Although it is not necessary, it is common to enclose tuples in
parentheses.

In [29]:
 t = ('a', 'b', 'c', 'd', 'e')

To create a tuple with a single element, you have to include a final
comma.

In [30]:
t = 'a',
type(t)

tuple

A value in parentheses is not a tuple.

In [31]:
t = ('a')
type(t)

str

Another way to create a tuple is the built-in function **tuple**.
With no argument, it creates an empty tuple.

In [32]:
t = tuple()
print(t)

()

If the argument is a sequence (string, list or tuple), the result
is a tuple with the elements of the sequence.

In [33]:
t = tuple('blencathra')
print(t)

('b', 'l', 'e', 'n', 'c', 'a', 't', 'h', 'r', 'a')

Most list operators also work on tuples.  The bracket operator
indexes an element.

In [34]:
t = ('a', 'b', 'c', 'd', 'e')
print(t[0])

a

And the slice operator selects a range of elements.

In [35]:
print(t[1:3])

('b', 'c')

But if you try to modify one of the elements of the tuple, you get
an error.

In [36]:
t[0] = 'A'

TypeError: 'tuple' object does not support item assignment

You can't modify the elements of a tuple, but you can replace
one tuple with another.

In [37]:
t = ('A',) + t[1:]
print(t)

('A', 'b', 'c', 'd', 'e')

It is often useful to swap the values of two variables.
With conventional assignments, you have to use a temporary
variable.  For example, to swap **a** and **b**.

In [38]:
a = 1
b = 3

In [39]:
temp = a
a = b
b = temp

This solution is cumbersome, **tuple assignment** is more elegant.

In [40]:
a, b = b, a

The left side is a tuple of variables; the right side is a tuple of
expressions.  Each value is assigned to its respective variable.  
All the expressions on the right side are evaluated before any
of the assignments.

The number of variables on the left and the number of
values on the right have to be the same.

More generally, the right side can be any kind of sequence
(string, list or tuple).  For example, to split an email address
into a user name and a domain, you could write.

In [41]:
addr = 'monty@python.org'
uname, domain = addr.split('@')
print(uname)
print(domain)

monty
python.org

### <u>Exercise 1</u>

Strictly speaking, python functions can only return a single value. Write a function to demonstrate how tuples can be used in this 
context.

### <u>Solution 1</u>

In [42]:
def line(p1,p2) :
    a,b = p1
    c,d = p2
    return ((d-b)/(c-a),(d*(c-a)-b*(d-b))/(c-a))
print(line((1,2),(5,8)))

(1.5, 5.0)

### <u>Exercise 2</u>

What would you think if someone said a python function can only take a single argument ?

## Gather and scatter


Functions can take a variable number of arguments.  A parameter
name that begins with * **gathers** arguments into
a tuple.  For example.

In [43]:
def f(*vals) :
    for val in vals :
        print(val)
        
f(1,2,"hello")

1
2
hello

The compliment of **gather** is **scatter**. For example.

In [44]:
def g(a,b) :
    return a + b

t = (1,3)
g(*t)

4

Many of the built-in functions use
variable-length argument tuples.  For example, **max**
and **min** can take any number of arguments.

In [45]:
max(1,2,3,2,-1)
max(7,-3)

7

### <u>Exercise 3</u>
Write a function that takes an arbitrary number of numerical values and returns both the maximum and minimum value
of the arguments.

### <u>Soliution 3</u>

In [46]:
def maxmin(*vals) :
    return max(vals),min(vals)

maxmin(1,2,3,2,5,0,-9)

(5, -9)

## Lists and tuples

**zip** is a built-in function that takes two or more sequences and
__"zips"__ them into a *iterator* of tuples where each tuple contains one
element from each sequence.

In [47]:
x = [1,2,3,4]
y = ["a","b","c","d"]
z = zip(x,y)
print(z)

<zip object at 0x73e570224800>

The iterator can be converted to a **list** using list.

In [48]:
list(z)

[(1, 'a'), (2, 'b'), (3, 'c'), (4, 'd')]

An **iterator** can be used in a loop directly though.

In [49]:
for val in z :
    print(val)

Notice though that, as it stands, the above code does not work. That is because the **iterator** has already been 
consumed by the **list** function.

In [50]:
z = zip(x,y)
for val in z :
    print(val)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

**zip** can be useful in conjunction with list comprehensions.

### <u>Exercise 4</u>

What would you expect the following code to do ?

In [51]:

X = [1,2,3,4]
Y = [5,6,7,8]
Z = [9,10,11,12]
S = [x + y + z for x,y,z in zip(X,Y,Z)]
print(S)

[15, 18, 21, 24]

### <u>Exercise 5</u>

Write a function that takes an arbitrary number of numerical values and returns both the maximum and minimum value
of the arguments, and there location in the sequence of values.

In [52]:
def maxminpos(*vals) :
    vals_pos = [x for x in zip(vals,range(len(vals)))]
    return max(vals_pos),min(vals_pos)

maxminpos(1,2,3,2,5,0,-9)

((5, 4), (-9, 6))