# Variables, expressions and statements

## Values and types

A **value** is one of the basic things a program works with, like a letter or a number. Python is no exception. Here are some values.

In [12]:
3.14
"hello world"
True
7

7

If you run the above cell using ctrl-return the output will be 7. If you want to output all of the values to the output cell, then you can use __print__.

In [13]:
print(3.14)
print("hello world")
print(True)
print(7)

3.14
hello world
True
7

These values belong to different **types** :
7 is an **integer**, and 'hello world!' is a **string**,
so-called because it contains a ``string'' of letters.
You (and the interpreter) can identify
strings because they are enclosed in quotation marks.

If you are not sure what type a value has, the interpreter can tell you.

In [14]:
type("hello world")

str

In [15]:
type(7)

int

### <u>Exercise 1 </u>

What is the type of 3.14 and True ?

### <u>Solution 1</u>

In [5]:
print(type(3.14))
print(type(True))

<class 'float'>
<class 'bool'>

What about values like '17' and '3.2'?
They look like numbers, but they are in quotation marks like
strings.

In [4]:
type('17')

str

In [5]:
type('3.2')

str

What about 1,000,000 ?  This is not a
legal integer in Python, but it is legal :

In [6]:
1,000,000

(1, 0, 0)

Python interprets 1,000,000 as a comma-separated sequence of integers.
This is the first example we have seen of a **semantic error** : the code
runs without producing an error message, but it doesn't do the
``right'' thing. 1,000,000 s an example of a python __tuple__. More on that later.

## Variable assignment

One of the most powerful features of a programming language is the
ability to manipulate **variables**.  A variable is a name that
refers to a value.

An **assignment statement** creates new variables and gives
them values :

In [7]:
message = 'And now for something completely different'
n = 17
pi = 3.1415926535897932

One way of representing this assignment is shown below. Note that the variable servers as a label for accessing a 
value.

![title](figs/state2.png)

Variable names can be arbitrarily long.  They can contain
both letters and numbers, but they have to begin with a letter.
It is legal to use uppercase letters.

The underscore character, \verb"_", can appear in a name.
It is often used in names with multiple words, such as
\verb"my_name" or \verb"airspeed_of_unladen_swallow".

If you give a variable an illegal name, you get a syntax error:

In [8]:
76trombones = 'big parade'

SyntaxError: invalid syntax (3381618747.py, line 1)

In [10]:
more@ = 1000000
SyntaxError: invalid syntax

SyntaxError: invalid syntax (<ipython-input-10-4d9f2740846f>, line 1)

In [11]:
class = 'Advanced Theoretical Zymurgy'

SyntaxError: invalid syntax (<ipython-input-11-73fc4ce1a15a>, line 1)

## Python Keywords

It turns out that **class** is one of Python's **keywords**.  The
interpreter uses keywords to recognise the structure of the program,
and they cannot be used as variable names.

Different versions of Python may have different keywords. 
Version 3.6.9 of CPython has the following :

<tr><td>False</td>     <td>None</td>      <td>True</td>      <td>and</td>       <td>as</td>  </tr>
<tr><td>assert</td>    <td>break</td>     <td>class</td>     <td>continue</td>  <td>def</td>  </tr>
<tr><td>del</td>       <td>elif</td>      <td>else </td>     <td>except</td>    <td>finally </td> </tr>
<tr><td>for</td>       <td>from</td>      <td>global</td>    <td>if</td>        <td>import</td>  </tr>
<tr><td>in</td>       <td>is</td>        <td>lambda</td>    <td>nonlocal</td>  <td>not</td>  </tr>
<tr><td>or</td>       <td>pass      <td>raise     <td>return    <td>try  </tr>
<tr><td>while </td>    <td>with</td>      <td>yield</td>     </tr>

**Operators** are special symbols that represent computations like
addition and multiplication.  The values the operator is applied to
are called **operands**.

The operators +, \-, \*, / and \**
perform addition, subtraction, multiplication, division and
exponentiation, as in the following examples:

In [15]:
20+32
hour = 6
hour-1  
minute = 12
hour*60+minute   
minute/60   
5**2   
(5+9)*(15-7)

112


## Expressions and statements

An **expression** is a combination of values, variables, and operators.
A value all by itself is considered an expression, and so is
a variable, so the following are all legal expressions

In [17]:
x = 111
x
x + 17

128

A **statement** is a unit of code that the Python interpreter can
execute.  We have seen two kinds of statement: print and
assignment.

Technically an expression is also a statement, but it is probably
simpler to think of them as different things.  The important difference
is that an expression has a value; a statement does not.

## Python operators

Most versions of python provide the following operators :

<tr><td>+</td> <td>-</td> <td>*</td> <td>/</td> <td>%</td> <td>//</td> <td>**</td> <td>></td> <td><</td> <td>==</td> <td>!=</td> <td>>=</td>  <td><=</td> <td>and</td></tr>
<tr><td>or</td> <td>not</td> <td>&</td> <td>|</td> <td>~</td> <td>^</td> <td>>></td> <td><<</td> <td>=</td> <td>+=</td> <td>-=</td> <td>*=</td> <td>/=</td></tr>
<tr><td>%=</td> <td>//=</td> <td>**=</td> <td>&=</td> <td>|=</td>  <td>^=</td> <td>>>=</td> <td><<=</td> <td>is</td> <td>in</td></tr>
<tr><td>is</td> <td>not</td></tr>

Some binary operators are left right associative, some are right left. There is also a ternary operator ``if else''.
Try the following exercise to learn more about some of the Python operators.

### Exercise 2

Have guess as to what the output should be for these commands

In [21]:
False and True

False

In [22]:
0 and True

0

In [23]:
1 and True

True

In [24]:
1 and 0

0

In [25]:
1 and 1

1

In [26]:
1 and 3

3

In [27]:
True and 3

3

In [28]:
3 and True

True

In [29]:
5*2//3

3

In [30]:
5*(2//3)

0

In [31]:
(5*2)//3

3

In [9]:
3**5**2

847288609443

In [20]:
3**(5**2)

847288609443

In [10]:
(3**5)**2

59049

In [33]:
2 if 1 < 2 else 3

2

In [11]:
a = 1

In [36]:
b = 1

In [37]:
a == b

True

In [38]:
a is b

True

In [39]:
a = 1000000

In [40]:
b = 1000000

In [41]:
a == b

True

In [42]:
a is b

False

In [43]:
a is not b

True

In [44]:
a is (not b)

False

## Round of errors

Computers have inexact arithmetic because of rounding errors. This is usually not a problem in computations, but in some cases it can cause unexpected results.

### <u>Exampe 1</u>

In [19]:
v1 = 1/49.0*49
v2 = 1/51.0*51
print(v1)
print(v2)

0.9999999999999999
1.0

Much of the time this would not be an issue. However, never compare floats for equality !!

In [22]:
print(v1 == v2)

False

In [1]:
blob = "hello"
match blob:
    case 2 :
        print(2)
    case "hello" :
        print("hello")
    case a,b :
        print("pair")
    case [1,2,3] :
        print("[1,2,3]")
    case _ :
        print("not matched")

hello